<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Danh sách người dùng</h3>
        </div>
        <div class="panel-body">
            <button type="button" id="btn_add" [routerLink]="['/add']" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Người dùng</button>
            <input type="text" id="searchEmail" class="form-control" placeholder="Search email" [(ngModel)]="searchValue">

            <div class="container">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th (click)="onSort('name')"><i class="bi bi-arrow-down"></i>
                                <i class="bi bi-arrow-up"></i> Tên
                            </th>
                            <th (click)="onSort('email')"> <i class="bi bi-arrow-down"></i>
                                <i class="bi bi-arrow-up"></i>Email </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- | filter:searchValue | paginate: { itemsPerPage: 3, currentPage: p }" -->
                        <!-- | slice: (page-1) * pageSize : page * pageSize |search:searchValue -->
                        <tr *ngFor="let item of userList |sort : sortBy: sortValue | filter:searchValue | paginate: { itemsPerPage: 5, currentPage: p }">
                            <td [routerLink]="[item.id,'detail']">{{item.name}}</td>
                            <td [routerLink]="[item.id,'detail']">{{item.email}}</td>
                            <td>

                                <button type="button" class="btn btn-danger" (click)="onDeleteBuuKien(item.id)">    <span class="glyphicon glyphicon-trash"></span></button>


                                <button type="button" class="btn btn-primary" [routerLink]="[item.id,'edit']"> <span  class="glyphicon glyphicon-pencil"></span></button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="userList.length"></ngb-pagination>-->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>

</div>
