#searchEmail {
    width: 600px;
    height: 32px;
    margin-bottom: 20px;
    margin-left: 203px;
}

#btn_add {
    /* height: 30px; */
    padding: 4px;
    /* font-style: italic; */
    font-size: smaller;
    float: right;
    margin-bottom: 20px;
    margin-right: 19px;
}